@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@400;700&display=swap');

$font-body: "Montserrat", sans-serif;
$font-heading: "Source Sans Pro", sans-serif;

$color-primary: #A8DADC;
$color-secondary: #D8F1D0;
$color-heading: #1D3557;
$color-contrast: #E63946;
$color-black: #061423;
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color: $color-black;
}

a:link,
a:visited {
  text-decoration: none;
}