.header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.profile {
  min-height: 50vh;
  background-color: $color-primary;
}

.project-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  &__project {
      height: 300px;
      width: 300px;
      padding: 10px 50px 10px 50px;
      border: 10px solid $color-primary;
      border-radius: 10px;
  }
}

.contact {
  height: 50vh;
  background-color: $color-secondary;
}

.contact-details {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

  &__icon {
      padding-left: 20px;
  }
}

.footer {
  height: 5px;
  text-align: center;
  background-color: $color-white;
  padding: 0 0 100px 0;
}