@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #061423;
}

a:link,
a:visited {
  text-decoration: none;
}

.navigation {
  height: 10vh;
  background-color: #A8DADC;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 25px;
  padding: 2px;
}

.nav-links__link {
  color: #E63946;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
}

.intro {
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #D8F1D0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.intro__heading {
  font-family: "Source Sans Pro", sans-serif;
  color: #1D3557;
  font-size: 40px;
}
.intro__sub-heading {
  font-family: "Montserrat", sans-serif;
  color: #1D3557;
  font-size: 20px;
  margin: 10px 0;
}

i, .scroll {
  color: #E63946;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.wave1 {
  vertical-align: bottom;
  fill-opacity: 1;
  fill: #A8DADC;
}

.wave2 {
  vertical-align: bottom;
  fill-opacity: 1;
  fill: #fafafa;
  background-color: #A8DADC;
}

.wave3 {
  vertical-align: bottom;
  fill-opacity: 1;
  fill: #D8F1D0;
  background-color: #fafafa;
}

.wave4 {
  vertical-align: bottom;
  fill-opacity: 1;
  fill: #fafafa;
  background-color: #D8F1D0;
}

.section-header {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.section-header .circles {
  max-height: 50px;
}

.profile__heading {
  font-family: "Source Sans Pro", sans-serif;
  color: #1D3557;
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
}
.profile__body {
  font-family: "Montserrat", sans-serif;
  color: #061423;
  font-size: 14px;
  text-align: center;
  padding: 10px 50px 10px 50px;
}

.header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  min-height: 50vh;
  background-color: #A8DADC;
}

.project-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.project-details__project {
  height: 300px;
  width: 300px;
  padding: 10px 50px 10px 50px;
  border: 10px solid #A8DADC;
  border-radius: 10px;
}

.contact {
  height: 50vh;
  background-color: #D8F1D0;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-details__icon {
  padding-left: 20px;
}

.footer {
  height: 5px;
  text-align: center;
  background-color: #fafafa;
  padding: 0 0 100px 0;
}